.AuthHomePage {
    background-repeat: no-repeat;
    background-position: top;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
background-size: cover;
   

  

    .section {
        position: relative;
        width: 100%;
        display: block;
        h4{
            color: #000;
            font-size: 20px;
            text-shadow: var(--boxShadow);
        }
    }

    .full-height {
        min-height: 100vh;
    }

    .checkbox:checked+label,
    .checkbox:not(:checked)+label {
        position: relative;
        display: block;
        text-align: center;
        width: 60px;
        height: 16px;
        border-radius: 8px;
        padding: 0;
        margin: 10px auto;
        cursor: pointer;
        background-color: #ffeba7;
    }

    .checkbox:checked+label:before,
    .checkbox:not(:checked)+label:before {
        position: absolute;
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: #ffeba7;
        background-color: #102770;
        font-family: FontAwesome;
        content: "\f0a6";
        z-index: 20;
        top: -10px;
        left: -10px;
        line-height: 36px;
        text-align: center;
        font-size: 24px;
        transition: all 0.5s ease;
        transform: rotate(-30deg);
    }

    .checkbox:checked+label:before {
        transform: translateX(44px) rotate(390deg);
    }

    .checkbox:checked + .title-types {
        box-shadow: -5px 5px 10px #bfbfbf,
        5px -5px 10px #ffffff !important;
    }

    .title-type {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        span {
            width: 100px;
            font-size: 2rem;
            padding: 10px;
            
          box-shadow: var(--boxShadow);
            border-radius: 10px;
        }
    }


    .card-3d-wrap {
        position: relative;
        width: 440px;
        max-width: 100%;
        height: 400px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        perspective: 800px;
        margin-top: 60px;

    }

    .card-3d-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition: all 600ms ease-out;
    }

    .card-front,
    .card-back {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 16px;


        background: linear-gradient(225deg, #ffffff, #e6e6e6);
        box-shadow: -11px 11px 100px #adadad,
            11px -11px 100px #ffffff;
        left: 0;
        top: 0;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }

    .card-back {
        transform: rotateY(180deg);
    }

    .checkbox:checked~.card-3d-wrap .card-3d-wrapper {
        transform: rotateY(180deg);
    }

    .center-wrap {
        position: absolute;
        width: 100%;
        padding: 0 35px;
        top: 50%;
        left: 0;
        transform: translate3d(0, -50%, 35px) perspective(100px);
        z-index: 20;
        display: block;
    }


    .form-group {
        position: relative;
        display: block;
        padding: 0;
        margin-bottom: 20px;

    }

    .form-style {
        padding: 10px;
        height: 48px;
        width: 100%;
        outline: none;
        border: none;
        color: #000;
        border-radius: 9px;
        border-radius: 9px;
        background: linear-gradient(225deg, #ffffff, #e6e6e6);
        box-shadow: var(--boxShadow);
        transition: all 200ms linear;
    }

    .form-style:focus,
    .form-style:active {
        border: none;
        outline: none;

        box-shadow: -5px 5px 10px #bfbfbf,
            5px -5px 10px #ffffff !important;
    }

    .form-group {
        input {
            position: relative;
            &:not(:placeholder-shown){
                box-shadow: -5px 5px 10px #bfbfbf,
                5px -5px 10px #ffffff !important;
            }
            &:not(:placeholder-shown)~label,
            &:focus~label {
                top: -0;
                transform: translateY(-50%);
                // padding: 4px;


            }

            &:not(:placeholder-shown)~label {
                color: #343434;
            }

            &:focus~label {
                color: var(--primary-color);

            }

            &:focus {
                border: 1px solid var(--primary-color);
                box-shadow: 0 0 4px var(--primary-color)
            }
        }

        label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            pointer-events: none;
            color: #5c5c5c;
            transition: all .2s linear;
            text-shadow: -5px 5px 10px #bfbfbf,
                5px -5px 10px #ffffff;
            ;
        }

    }

    .btn {
        border-radius: 8px;
        height: 44px;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 200ms linear;
        padding: 0 30px;
        letter-spacing: 1px;
        display: inline-flex;
        align-items: center;
        text-align: center;
        border: none;
        box-shadow: var(--boxShadow);
        
    }

    .btn:active,
    .btn:focus {
        background: linear-gradient(225deg, #ffffff, #e6e6e6);
        box-shadow: -5px 5px 10px #bfbfbf,
            5px -5px 10px #ffffff;
    }



    .btn:hover {
        background: linear-gradient(225deg, #ffffff, #e6e6e6);
        box-shadow: -5px 5px 10px #bfbfbf,
            5px -5px 10px #ffffff;
    }


    .logo {
        position: absolute;
        top: 30px;
        right: 30px;
        display: block;
        z-index: 100;
        transition: all 250ms linear;
    }

    .logo img {
        height: 26px;
        width: auto;
        display: block;
    }
}