.AuthHomePage {
   
    font-size: 62.5%;
    position: relative;
    overflow: hidden;
    // background-image: url('../../assets/bg.png');
    background-color: #ecf0f3 !important;
    
   
    .section {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;

        h4 {
            color: #000;
            font-size: 20px;
            text-shadow: var(--boxShadow);
        }
    }

    .inner {
        width: min(500 , 1200px);
        margin: 0 auto;
      
    }


    .full-height {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    .wrap-container {
        height: 96vh;
        display: flex;
        width: 1000px;
        margin:0 auto;
        background-color: rgb(236, 240, 243,0.6);
        box-shadow:  9px 9px 22px #c9cccf,
             -9px -9px 22px #ffffff;
        background-image: url('../../assets/bg1.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom left;
        padding: 20px;
        border-radius: 10px;
    }

    .wrap {
        width: 440px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .Image {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .checkbox:checked+label,
    .checkbox:not(:checked)+label {
        position: relative;
        display: block;
        text-align: center;
        width: 60px;
        height: 16px;
        border-radius: 6px;
        ;
        padding: 0;
        margin: 10px auto;
        cursor: pointer;
        background-color: var(--primary-color);
    }

    .checkbox:checked+label:before,
    .checkbox:not(:checked)+label:before {
        position: absolute;
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        ;
        color: var(--primary-color);
        background-color: #ecf0f3;
        border: 1px solid var(--primary-color);
        font-family: FontAwesome;
        content: "\f0a6";
        z-index: 20;
        top: -10px;
        left: -10px;
        line-height: 36px;
        text-align: center;
        font-size: 24px;
        transition: all 0.5s ease;
        transform: rotate(30deg) rotateX(180deg);

    }

    .checkbox:checked+label:before {
        transform: translateX(44px) rotateX(180deg) rotate(390deg);
    }

    .checkbox:checked~.title-type .register {
        color: var(--primary-color);
        // background-color: rgb(255, 255, 255, 0.6);

    }

    .checkbox:not(:checked)~.title-type .login {
        color: var(--primary-color);
        // background-color: rgb(255, 255, 255, 0.6);
    }

    .title-type {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        label {
            width: 160px;
            padding: 10px;
            color: #000;
            box-shadow:  9px 9px 22px #c9cccf,
            -9px -9px 22px #ffffff;
            background-color: #ecf0f3;
            border-radius: 6px;
            font-size: 1.6rem;
            user-select: none;
            cursor: pointer;
            font-weight: 600;
        }
    }


    .card-3d-wrap {
        position: relative;
        width: 440px;
        max-width: 100%;
        height: 600px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        perspective: 800px;
        margin-top: 60px;
        margin: 30px auto;

    }

    .card-3d-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition: all 600ms ease-out;
    }

    .card-front,
    .card-back {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 10px;
        box-shadow:  7px 7px 14px #c4c7ca,
             -7px -7px 14px #ffffff;
        left: 0;
        top: 0;
        transform-style: preserve-3d;
        backface-visibility: hidden;

        h4 {
            font-weight: 600;
            user-select: none;
            font-size: 1.6rem;
            color: var(--primary-color);
        }
    }

    .card-back {
        transform: rotateY(180deg);
        visibility: hidden;
        // animation: hidden .2s linear;
        opacity: 0;
    }

    .card-front {
        visibility: visible;
        // animation: hideOn .2s linear;
        opacity: 1;
    }



    .checkbox:checked~.card-3d-wrap .card-3d-wrapper {
        transform: rotateY(180deg);
    }

    .checkbox:checked~.card-3d-wrap .card-3d-wrapper .card-back {
        // animation: hideOn .2s linear;
        visibility: visible;
        opacity: 1;
    }

    .checkbox:checked~.card-3d-wrap .card-3d-wrapper .card-front {

        visibility: hidden;
        // animation: hidden 2s linear;
        opacity: 0;
    }

    @keyframes hideOn {
        0% {
            opacity: 0;
            visibility: hidden;
        }

        100% {
            opacity: 1;
            visibility: visible;
        }
    }

    @keyframes hidden {
        0% {
            opacity: 1;
            visibility: visible;
        }

        100% {
            opacity: 0;
            visibility: hidden;
        }
    }

    .center-wrap {
        position: absolute;
        width: 100%;
        padding: 0 35px;
        top: 50%;
        left: 0;
        transform: translate3d(0, -50%, 35px) perspective(100px);
        z-index: 20;
        display: block;
    }


    .form-group {
        position: relative;
        display: block;
        padding: 0;
        margin-bottom: 20px !important;


    }

    .form-style {
        padding:6px 10px;
        height: 48px;
        width: 100%;
        outline: none;
        color: #000;
        border-radius: 6px;
        ;
        transition: all 200ms linear;
        box-shadow: inset 5px 5px 10px #c6cacc,
            inset -5px -5px 10px #ffffff;
        background-color: rgb(255, 255, 255, 0.6);
    }

    .form-style:focus,
    .form-style:active {
        outline: none;
        // background: linear-gradient(225deg, hwb(0 100% 0%), #ffffff);
        box-shadow: -5px 5px 10px #bfbfbf,
            5px -5px 10px #ffffff !important;
    }

    .link {
        color: var(--primary-color);
    }
    .is-invalid{
        cursor: pointer;
    }

    .avatar{
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img{
            height: 100%;
            width: 80px;
            object-fit: cover;
            border-radius: 50%;
        }
        label{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -15px;
            color: var(--primary-color);
            i{
                font-size: 25px;
            }

        }
    }
    .form-group {
        input {
            position: relative;

            &:not(:placeholder-shown) {
                box-shadow: -5px 5px 10px #bfbfbf,
                    5px -5px 10px #ffffff !important;
            }

            &:not(:placeholder-shown)~label,
            &:focus~label {
                top: -0;
                transform: translateY(-50%);
                border-radius: 6px;
                padding: 0 10px;
                // padding: 4px;
                background-color: #ecf0f3;
                color: #000;
            }

            &:not(:placeholder-shown)~label {
                color: var(--primary-color);
            }

            &:focus~label {
                color: var(--primary-color);
                background-color: #ecf0f3;

            }

            &:focus {
                box-shadow: 0 0 4px var(--primary-color);
            }
        }

        label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            pointer-events: none;
            color: #000000;
            transition: all .2s linear;
            text-shadow: -5px 5px 10px #bfbfbf,
                5px -5px 10px #ffffff;
            ;
        }

    }

    .btn {
        border-radius: 6px;
        ;
        height: 44px;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 200ms linear;
        padding: 0 30px;
        letter-spacing: 1px;
        display: inline-flex;
        align-items: center;
        text-align: center;
        border: none;
        box-shadow: var(--boxShadow);

    }

    .btn:active,
    .btn:focus {
        background: linear-gradient(225deg, #ffffff, #e6e6e6);
        box-shadow: -5px 5px 10px #bfbfbf,
            5px -5px 10px #ffffff;
    }



    .btn:hover {
        background: linear-gradient(225deg, rgb(255, 255, 255, 0.6), rgb(230, 230, 230, 0.6));
        box-shadow: -5px 5px 10px #bfbfbf,
            5px -5px 10px #ffffff;
        color: var(--primary-color);
    }


    .logo {
        position: absolute;
        top: 30px;
        right: 30px;
        display: block;
        z-index: 100;
        transition: all 250ms linear;
    }

    .logo img {
        height: 26px;
        width: auto;
        display: block;
    }
}

// //////mobile

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .section{
        .inner{
            width: 100vw;
        }
        .wrap-container{
            padding: 0;
            width: 95%;
            background-size: 70%;
        }
        .wrap:first-child{
            display: none;
        }
        .wrap{
            padding: 10px;
        }
        .card-3d-wrap {
            width: 100vw;
        }
        .form-style{
            height: 40px;
        }
        label{
            font-size: 12px;
        }
    }
    }
@media only screen and (min-device-width : 700px) and (max-device-width : 1024px) {
    .AuthHomePage{
        background-image: url('../../assets/bg2.png') !important;
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 50%;
        .inner{
            width: 100vw;
        }
        .wrap-container{
            padding: 0;
            width: 95%;
            flex-direction: column;
            position: relative;
           background-size: 90%;
        }
        .wrap:first-child{
            display: none;
        }
        .wrap{
            padding: 10px;
        }
        .card-3d-wrap {
            width: 500px;
        height: 600px;
        }

    }
        }