.Search {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1000;
    border: 1px solid#ccc;
    border-radius: 20px;
    border-left: none;
    // padding: 20px;
}
.search{
    box-shadow: none;
    align-items: center;
    display: flex;
}
.add-room-chat{
    padding: 4px;
    position: relative;
    cursor: pointer;
    i{
        font-size: 20px;
    }
    &:hover .mockup{
        display: block;
    }
    .mockup{
        position: absolute;
        top: -100%;
        left: 0;
        min-width: 100px;
        text-align: center;
        border-radius: 4px;
        display: none;
        z-index: 1000;
        background-color: #fff;
    }
}
h3 {
    padding: 20px;
}

.form__control {
    position: relative;
    margin: 0 10px;
    padding: 20px 0;
    width: 100%;


}

.form-input {
    padding: 10px;
    padding-left: 28px;
    width: 100%;
    border-radius: 10px;
    box-shadow: inset 5px 5px 20px #e0e0e0,
        inset -5px -5px 20px #ffffff;
}

.icon-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.icon-show {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    cursor: pointer;
}

.icon-loading {
    animation: rotate .3s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.hide-on {
    animation: hideOn .3s linear;
    left: 100%;
}

.hide-off {
    animation: hideOff .5s linear;
    left: -100%;
    opacity: 0;
    visibility: hidden;
}

@keyframes hideOn {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes hideOff {
    0% {
        left: 100%;
        opacity: 1;
        visibility: visible;
    }

    100% {
        left: -100%;
        opacity: 0;
        visibility: hidden;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .form__control {
        padding: 0;
        border: none;
        margin: 0;
        &::after {
            border: none;
        }
    }

    .search {
        border: none;
        margin-top: 70px;
        position: fixed !important;
        left: 0;
        top: 0;
        right: 0;
        z-index: 900;
    }

    .MyAccount {
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: #ffffff;
    }
    .ListChat{
        margin-top: 140px !important;
    }
}